@import "src/variables/breakpoints";
@import "src/variables/lenghts";

.PageHeaderAndIcons{
  //position: absolute;
  //top: 0;
}

.PageHeader {
  //MOBILE
  //background-color: orange;
  ////opacity: 0.5;
  //display: flex;
  //justify-content: center;
  //padding: 0;
  //font-size: 3rem;
  //line-height: 5rem;
  //align-items: center;
  //height: 100vh;
  //width: 100vw;

  @media (min-width: $mobile-breakpoint) {
    //DESKTOP
    display: flex;
    background-color: red;
    justify-content: space-between;
    height: $page-header-height;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  &__MenuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-40%, 30%);
    font-size: 3rem;
    cursor: pointer;
    color: white;
    opacity: 0.8;
    padding: 1rem;
    //scale: 1.2;
    z-index: 98;
  }

  &__CloseIcon {
    display: block;
    //INNA POZYCJA NIZ W MENU ICON
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-40%, 30%);
    font-size: 3rem;
    cursor: pointer;
    color: white;
    //opacity: ${({isOpen}) => (isOpen ? '100%' : '0')}
    padding: 1rem;
    //scale: 1.2;
    z-index: 98;

    @media (min-width: $mobile-breakpoint){
      //DESKTOP
      display: none;
    }
  }
}
