@import "src/variables/breakpoints";
@import "src/variables/lenghts";

sectionMail {
  height: 50vh;
  display: flex;
  justify-content: center;


}

.sectionMail {
  &__container {
    //height: 100vh;
    //overflow: hidden;
    @media (min-width: $mobile-breakpoint) {
      //DESKTOP
      margin-top: $page-header-height;
      //padding-top: $page-header-height;
    }

  }

  &__one {
    background-color: khaki;
    padding-top: $page-header-height;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
  }
  &__one p{
    padding: 20px;
    font-size: 1.8rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: darkolivegreen;
    padding:55px;
    border-radius: 25px;
    margin: 25px;

  }

  &__textarea-label{
    margin-bottom: 8px;
    margin-top: 15px;
  }
}

#message{
  //padding: 5px;
  margin-bottom: 10px;
}