@import "src/variables/lenghts";

.sectionBlog {
  height: 50vh;
  display: flex;
  justify-content: center;

  &__container {
    height: 30vh;
    //margin-top: $page-header-height;
  }

  &__one {
    background-color: purple;
  }

}