sectionBlog {
  //height: 50vh;
  //display: flex;
  //justify-content: center;
}

.sectionBlog {
  height: 50vh;
  display: flex;
  justify-content: center;

  &__container {
    height: 30vh;
  }
    &__one {
      background-color: purple;
    }

}