@import "src/variables/breakpoints";
@import "src/variables/lenghts";

.sectionBlog {
  //height: 10vh;
  //display: flex;
  //justify-content: center;

  &__container {
    display: flex;
    height: 100vh;
   //width: 100vw;

    //padding-top: $page-header-height;

    //position: relative;

    //box-sizing: content-box;
    //height: calc (100 vh- 2*($page-header-height));
    //width: 100vw;
    overflow: hidden;

    @media (min-width: $mobile-breakpoint) {
      //DESKTOP
      margin-top: $page-header-height;
      //padding-top: $page-header-height;
    }
  }

  &__one {
    background-color: purple;
    //box-sizing: content-box;
    padding-top: $page-header-height;
    //margin-top: $page-header-height;
    //ZEBY NIE BRALO overflow: hidden; Z GÓRY
    overflow: scroll;
    //WSTAWIONE TERAZ
    //height: 100vh;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //height: calc(100% - $page-header-height);
    height: 100%;
    width: 100%;
    //margin: 0 auto;
    //@media (min-width: $mobile-breakpoint) {
    //  //DESKTOP
    //  margin-top: $page-header-height;
    //  //padding-top: $page-header-height;
    //}


  }

}

//h1 {
//  padding-top: 200px;
//}