@import "src/variables/breakpoints";
@import "src/variables/lenghts";


.sectionNoMatch {
  &__container {

    height: 100vh;
    width: 100vw;
    //overflow: hidden;
  }

}

.noMatch {
  height: 100vh;
  display: flex;
  //line-height: 100vh;
  //padding: 0;
  //margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  &__text-headerOne {
    font-size: 5rem;
    @media (min-width: $mobile-breakpoint) {
      //DESKTOP
      font-size: 500px;
      margin: 0;

    }
  }

  &__text-paragraph {
    font-size: 2rem;
    @media (min-width: $mobile-breakpoint) {
      //DESKTOP
      font-size: 100px;
      margin: 0 auto;

    }
  }
}