@import "src/variables/lenghts";

.Layout {
position: relative;

  &__container {
    width: 100%;
    display: inline-block;
    position: absolute;
  }

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //position: absolute;
  //width: 100vw;
  &__main {
    //display: none;
    //flex-grow: 1;
    //to wyzej pan Jacek
    position: absolute;
    //top: 550px;



    //height: calc(100vh - $page-header-height);
    //top: -180px;
  }
}
