@import "src/variables/breakpoints";

.Logo {
  //display: none;
  //display: flex;
  color: yellow;
  text-decoration: none;
  font-weight: bold;
  font-size: 6rem;
  @media (min-width: $mobile-breakpoint) {
    display: flex;
  }
}